<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    <job>
      <name>CheckBingAvailabilityJob</name>
      <job-type>Quartz.Unity.Extensions.Example.Jobs.CheckBingAvailabilityJob, Quartz.Unity.Extensions.Example</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>CheckBingAvailabilityJobTrigger</name>
        <job-name>CheckBingAvailabilityJob</job-name>
        <repeat-count>-1</repeat-count>
        <repeat-interval>1800000</repeat-interval>
      </simple>
    </trigger>

    <job>
      <name>CheckGoogleAvailabilityJob</name>
      <job-type>Quartz.Unity.Extensions.Example.Jobs.CheckGoogleAvailabilityJob, Quartz.Unity.Extensions.Example</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>CheckGoogleAvailabilityJobTrigger</name>
        <job-name>CheckGoogleAvailabilityJob</job-name>
        <repeat-count>-1</repeat-count>
        <repeat-interval>1800000</repeat-interval>
      </simple>
    </trigger>

    <job>
      <name>CheckYandexAvailabilityJob</name>
      <job-type>Quartz.Unity.Extensions.Example.Jobs.CheckYandexAvailabilityJob, Quartz.Unity.Extensions.Example</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <simple>
        <name>CheckYandexAvailabilityJobTrigger</name>
        <job-name>CheckYandexAvailabilityJob</job-name>
        <repeat-count>-1</repeat-count>
        <repeat-interval>1800000</repeat-interval>
      </simple>
    </trigger>
  </schedule>
</job-scheduling-data>